
.Form_container{
    width: auto;
    height: 700px;
    background-color: var(--primary-color);
    /* background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Images/form_bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}