
.home-page{
    background-color: var(--primary-color);
    height: 1800px;
}

.home_container{
    /* background-image: url('../Images/bg-latest.svg'); */
    background-image:linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.1)), url('../Images/HeroBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    width: 100%;
    height: 630px;
}

.counter-card{
  background-color: var(--secondary-color);
}

.service-card{
  background-color: var(--secondary-color);
}

.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: 1px solid var(--alpha-color); 
    color: #fff;
    cursor: pointer;
  }
  
  