*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home_container{
    background-image: url('../Images/bgnw.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    width: 100%;
    height: 530px;
}